{% extends 'base.html' %}
{% block contents %}
  <div class="container my-3">
    <section class="pb-3 col-lg-8 col-md-10 mx-auto mt-5">
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="border-bottom pb-2 mt-5 mb-5">
            대댓글 등록
          </h5>
          {% include 'form_errors.html' %}
          <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label for="content" class='mb-1'>내용</label>
              <textarea name='content' id='content' rows='10' class='form-control'>{{form.content.value}}</textarea>
            </div>
            <button type='submit' class='btn btn-secondary' style='float:right; background-color:#675444; color:#fff'>대댓글 등록</button>
          </form>
        </div>
      </div>
    </section>
  </div>
{% endblock contents %}